.row {
  display: flex;
  flex-direction: row;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

#lab, body {
  background-color: black;
}

.center-children {
  display: flex;
  flex-direction: column;
  align-items: center;
}
